{% extends "base.html" %}
{% block content %}
	<section class="carousel-section">
		<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
			<ol class="carousel-indicators">
				<li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
				<li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
			</ol>
			<div class="carousel-inner">
				<div class="carousel-item active">
					<img src="/static/assets/slide1.jpg" class="d-block w-100" alt="...">
				</div>
				<div class="carousel-item">
					<img src="/static/assets/slide2.jpg" class="d-block w-100" alt="...">
				</div>
			</div>
			<a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
				<span class="carousel-control-prev-icon" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
				<span class="carousel-control-next-icon" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
		</div>
	</section>
	<section id="slider-section" class="slider-section">
		<button class="scroll-btn left-scroll" id="left-scroll-btn" type="button"><img style="width: 40px; height: auto;" src="/static/assets/left-arr.png"></button>
		{% for book in books %}
		{% if book.active %}
		<div class="slide-item">
			<a class="slide-item-a light-a slider-a" href="#" data-toggle="tooltip" data-placement="right" title="{{ book.title }}">
				<img class="enlarge" src="{{ book.cover_img }}">
				<h5 ><span class="price-font">${{ book.price }}</span></h5>
				<h6 class="slide-item-title"><span class="book-font">{{ book.title }}</span></h6>
				{% if book.authors != "" %}
				<h6 class="slide-item-author"><span class="book-font">By {{ book.authors }}</span></h6>
				{% endif %}
			</a>
		</div>
		{% endif %}
		{% endfor %}
		<button class="scroll-btn right-scroll" id="right-scroll-btn" type="button">
			<img style="width: 40px; height: auto;" src="/static/assets/right-arr.png">
		</button>
	</section>
	<br>
	<div style="display: inline-flex;">
		<div id="order-list-div" class="dropdown sort-dropdown">
			<button class="btn btn-secondary dropdown-toggle sort-dropdown" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
	    		<span id="sort-span">Sort By</span> 
	    	</button>
	    	<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
	    		<p class="dropdown-item sort-dropdown-item" style="margin-bottom: 0px;">Name</p>
	    		<p class="dropdown-item sort-dropdown-item" style="margin-bottom: 0px;">Price</p>
	    		<p class="dropdown-item sort-dropdown-item" style="margin-bottom: 0px;">Ratings</p>
	    	</div>
	    </div>
	    <button id="order-button" class="btn btn-success sort-dropdown">Ascending</button>
	</div>
	<div class="catalogue">
		{% for book in books %}
		{% if book.active %}
		<div class="catalogue-item">
			<a class="catalogue-item-a light-a catalogue-a" href="#">
				<img src="{{ book.cover_img }}">
				<h5><span class="price-font">${{ book.price }}</span></h5>
				<h6 class="catalogue-item-title"><span class="book-font">{{ book.title }}</span></h6>
				<h6 class="catalogue-item-author"><span class="book-font">By {{ book.authors }}</span></h6>
			</a>
		</div>
		{% endif %}
		{% endfor %}
		<svg style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg class="hidden-mobile" style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg class="hidden-mobile" style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg class="hidden-mobile" style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg class="hidden-mobile" style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
		<svg class="hidden-mobile" style="width: 128px; margin: auto;">
			<rect class="rect" style="width: 100%;"></rect>
		</svg>
	</div>
	<script type="text/python">
		from browser import local_storage, window, document

		jq = window.jQuery

		scroll_btns = document.getElementsByClassName("scroll-btn")
		if document['slider-section'].scrollWidth > window.innerWidth and window.innerWidth > 991:
			for btn in scroll_btns:
				btn.style.display = "block"
		else:
			for btn in scroll_btns:
				btn.style.display = "none"

		def resize_func(e):
			if document['slider-section'].scrollWidth == window.innerWidth:
				for btn in scroll_btns:
					btn.style.display = "none"
			else:
				if window.innerWidth > 991:
					for btn in scroll_btns:
						btn.style.display = "block"
				else:
					for btn in scroll_btns:
						btn.style.display = "none"

		def resize_event(e):
			jq(window).resize(resize_func)

		jq(resize_event)

		def left_scroll(e):
			jq('#slider-section').animate({
				'scrollLeft': "-=500px"
			}, "slow")

		def right_scroll(e):
			jq('#slider-section').animate({
				'scrollLeft': "+=500px"
			}, "slow")

		def scroll_event(e):
			jq('#left-scroll-btn').click(left_scroll)
			jq('#right-scroll-btn').click(right_scroll)

		jq(scroll_event)
		storage = local_storage.storage

		try:
			if storage['order'] == "Descending":
				document['order-button'].textContent = "Descending"
				document['order-button'].className = "btn btn-primary sort-dropdown"
		except KeyError:
			storage['order'] = "Ascending"

		def order_change(e):
			if storage['order'] == "Ascending":
				e.target.textContent = "Descending"
				e.target.className = "btn btn-primary sort-dropdown"
				storage['order'] = "Descending"
			else:
				e.target.textContent = "Ascending"
				e.target.className = "btn btn-success sort-dropdown"
				storage['order'] = "Ascending"

		def func(e):
			jq('#order-button').click(order_change)

		def sort_change(e):
			document['sort-span'].textContent = f"Sort By {e.target.textContent}"

		def func_2(e):
			jq('.sort-dropdown-item').click(sort_change)

		jq(func_2)
		jq(func)
	</script>
{% endblock %}