@media only screen and (max-width: 991px) {
	#nav-search-bar {
    	visibility: hidden;
    	display: none;
	}
	.scroll-btn {
		display: none;
	}
}
@media only screen and (max-width: 630px) {
	.footer-arrow {
		width: 30px!important;
		height: 30px!important;
		margin-bottom: 15px!important;
	}
}
@media only screen and (min-width: 991px) {
	#search-bar {
    	display: none;
    	padding-top: 1px;
	}
	#slider-section {
		overflow-x: hidden;
	}
}
.footer-arrow {
	width: 27px;
	height: 27px;
	margin-bottom: 15px;
}
.navbar-brand {
	width: 3%
}
@media only screen and (max-width: 730px) {
	.navbar-brand {
		width: 7%
	}
}
.nav-logo {
	width: 100%;
	height: auto;
}
.form-inline {
	margin: auto;
	width: 50%;
}
.custom-switch {
	margin-left: 20px;
}
.carousel-inner > .item > img {
  margin: 0 auto;
}
.carousel-section {
	width: 100%;
}
.slider-section {
	overflow-x: scroll;
	width: 100%;
	/*white-space: nowrap;*/
	height: auto;
	margin-top: 10px;
	margin: auto;
	overflow-y: inherit;
	display: inline-flex;
}
.slide-item {
	display: inline-block;
	width: 128px;
	margin-right: 10px;
	padding-top: 10px;
}
.slide-item-title {
	overflow: hidden;
}
.slide-item-a:hover {
	opacity: 0.5;
}
.slide-item-a {
	transition: 1s;
}
.slide-item-author {
	overflow: hidden;
}
.catalogue {
	display: inline-flex;
	flex-wrap: wrap;
	margin: auto;
	margin-top: 10px;
	width: 100%;
}
.catalogue-item {
	width: 128px;
	margin: auto;
	height: auto;
	margin-top: 0px!important;
}
.catalogue-item-title {
	overflow: hidden;
	font-family: 'Crimson Text', serif;
}
.catalogue-item-a:hover {
	opacity: 0.5;
}
.catalogue-item-a {
	transition: 1s;
}
.catalogue-item-author {
	overflow: hidden;
}
.footer {
	background-color: #07315e;	
	margin: auto;
	width: 100%;
	position: relative!important;
}
.footer-row {
	display: inline-flex;
	flex-wrap: wrap;
}
.footer-column {
	margin-left: 30px;
}
.sort-dropdown {
	margin-left: 10px;
}
.sort-m {
	margin-bottom: 0px;
}
.catalogue-a {
	text-decoration: none!important;
}
.slider-a {
	text-decoration: none!important;
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
	width: 100%;
	position: relative;
	display: flex;
}
.searchTerm {
	width: 100%;
	border: 3px solid #fff;
	border-right: none;
	padding: 5px;
	height: 36px;
	border-radius: 5px 0 0 5px;
	outline: none;
	color: #9DBFAF;
}
.searchTerm:focus{
	color: #000;
}
.light-searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #fff;
	background: #1f5da8;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
.dark-searchButton {
	width: 40px;
	height: 36px;
	border: 1px solid #fff;
	background: #343a40;
	text-align: center;
	color: #fff;
	border-radius: 0 5px 5px 0;
	cursor: pointer;
	font-size: 20px;
}
/*Resize the wrap to see the search bar change!*/
.wrap{
	width: 100%;
	position: relative;
}
.inline-wrap {
	width: 50%;
	position: relative;
	margin: auto;
}
.search-icon {
	width: 30px!important;
	height: auto!important;
	padding-bottom: 6px!important;
	padding-right: 6px!important;
}
.enlarge:hover, .enlarge:active {
	width: 130px;
	position: relative;
	z-index: -1;
}
.slide-item:hover, .slide-item:active {
	padding-top: 0px;
}
.nav-img {
	width: 20px;
	height: auto;
}
.price-font {
	font-family: 'Libre Baskerville', serif;
}
.book-font {
	font-family: 'Old Standard TT', serif;
	word-wrap: break-word;
	font-size: 15px;
}
body {
	overflow-x: hidden;
}
@media only screen and (max-width: 510px) {
	.hidden-mobile {
		display: none;
	}
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}
.footer-distributed{
	background-color: #2c292f;
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 0px!important;
}
.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}
.footer-distributed .footer-left{
	width: 30%;
}
.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px ;
	margin: 0;
}
.footer-distributed .footer-left img{
	width: 30%;
}
.footer-distributed h3 span{
	color:  #e0ac1c;
}
.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
}
.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
	text-decoration: none;
	color:  inherit;
}
.footer-distributed .footer-company-name{
	color:  #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-center{
	width: 35%;
}
.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}
.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}
.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}
.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}
.footer-distributed .footer-center p a{
	color:  #e0ac1c;
	text-decoration: none;;
}
.footer-distributed .footer-right{
	width: 30%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}
.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 18px;
	font-weight: bold;
	margin-bottom: 20px;
}
.footer-distributed .footer-icons{
	margin-top: 25px;
}
.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;
	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;
	margin-right: 3px;
	margin-bottom: 5px;
}
@media (max-width: 880px) {
	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}
	.footer-distributed .footer-center i{
		margin-left: 0;
	}
}
.bg-blue {
	background-color: #1f5da8;
}
.right-scroll {
	display: none;
	position: -webkit-sticky;
	position: sticky;
	right: 0;
	border-radius: 50%;
	height: 50px;
	top: 50%;
	border: none;
	background-color: white
}
.left-scroll {
	display: none;
	position: -webkit-sticky;
	position: sticky;
	left: 0;
	border-radius: 50%;
	height: 50px;
	top: 50%;
	border: none;
	background-color: white;
}
.scroll-btn {
	position: sticky;
	z-index: 1;
}
.rect {
	visibility: hidden;
}